/*  
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
*/

* {
  padding: 0;
  margin: 0;
}

:root {
  --yt-icon-button-icon-width: 24px;
  --yt-icon-button-icon-height: 24px;
}

/*Clase Generales*/
.columna-grid-dos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.columna-grid-tres{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*NAVBAR*/

.botones-circulares {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  padding: 8px;
}

.botones-circulares svg {
  height: var(--yt-icon-button-icon-height);
  width: var(--yt-icon-button-icon-width);
}