/*  
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --yt-icon-button-icon-width: 24px;
  --yt-icon-button-icon-height: 24px;

  --yt-spec-text-primary: #fff;
  --yt-spec-text-primary-inverse: #0f0f0f;
  --yt-spec-text-secondary: #aaa;

  --yt-spec-base-background: #0f0f0f;
  --yt-spec-additive-background: rgba(255, 255, 255, 0.1);
  --yt-spec-red-background: #e1002d;
  --yt-spec-button-chip-background-hover: rgba(255,255,255,0.2);
}

body {
  background-color: var(--yt-spec-base-background);
  font-family: "Roboto", Arial, sans-serif;
  padding: 0 16px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--yt-spec-text-primary);
}

/*Clase Generales*/
.columna-grid-dos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.columna-grid-tres{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.alinear-grid {
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.alinear-flex {
  align-items: center;
  justify-content: center;
}

.columna-flex {
  flex-direction: column;
}

.space-between-flex{
  justify-content: space-between;
}

.responsive {
    display: none;
}

.iconos-botones svg {
  height: var(--yt-icon-button-icon-height);
  width: var(--yt-icon-button-icon-width);
}

/*NAVBAR*/

nav {
  height: 56px;
}

/*Logo Youtube*/
.logo {
  height: 20px;
  width: 95px;
  padding: 18px 14px 18px 16px;
}

.ve {
  color: var(--yt-spec-text-secondary);
  font-size: 10px;
  height: 12px;
  width: 44px;
  margin: 12px 0 0 -10px;
}

/*Nav-Centro*/
#nav-centro {
  flex: 1;
  flex-basis: 0.000000001px;
  justify-content: flex-end;
}

/*Botones Circulares*/

.botones-circulares {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botones-circulares-dos {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.fondo-gris {
  background: var(--yt-spec-additive-background);
}

.botones-circulares:hover {
  background-color: var(--yt-spec-additive-background);
}

.fondo-gris:hover {
  background-color: var(--yt-spec-button-chip-background-hover);
}

/*Boton crear*/
.boton-crear {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 36px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: var(--yt-spec-text-primary);
}

.boton-crear svg {
  margin-left: -6px;
  margin-right: 6px;
  height: var(--yt-icon-button-icon-height);
  width: var(--yt-icon-button-icon-width);
}

/*Campana*/
.campana {
  position: relative;
}

.campana-notificacion{
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: var(--yt-spec-red-background);
  color: var(--yt-spec-text-primary);
  position: absolute;
  top: 4px;
  left: 20px;
  padding: 0 4px;
  min-width: 8px;
  max-width: 18px;
  height: 16px;
  border-radius: 22px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/*Perfil*/
.boton-perfil {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  cursor: pointer;
  height: 34px;
  width: 60px;
}

.boton-perfil img {
  border-radius: 30px;
  margin: 0 8px;
}

/*ASIDE*/
aside {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

aside a{
  width: 64px;
  padding: 16px 0 14px;
  flex-direction: column;
}



/*Botones de Busqueda*/
.div-botones-busqueda {
  gap: 12px;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 10px 8px;
}

.div-botones-busqueda::-webkit-scrollbar {
  display: none;
}

.botones-busqueda {
  background-color: var(--yt-spec-additive-background);
  color: var(--yt-spec-text-primary);
  padding: 7px 12px 8px 12px;
  transition: background-color .5s cubic-bezier(.05,0,0,1);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.boton-seleccionado {
  background-color: var(--yt-spec-text-primary);
  color: var(--yt-spec-text-primary-inverse);
}

/*Video Individual*/
.div-videos {
  display: flex;
  flex-wrap: wrap; 
  padding: 10px;
  gap: 25px;
}

.miniatura-video {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.descripcion {
  display: grid; 
  grid-template-columns: 15% 75% 10%;
}

.div-perfil-video {
  margin: 2px;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.perfil-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.titulo-video {
  margin-bottom: 1px;
}

.titulo-video > a{
  font-size: 16px;
  line-height: 22px;
  font: 400;
  max-width: 44px;
  text-overflow: ellipsis;
}

.nombre-perfil-video {
  gap: 5px;
}

.nombre-perfil-video > a {
  font-size: 14px;
  line-height: 20px;
  font: 400;
  color: var(--yt-spec-text-secondary);
}

.visualizaciones-video {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--yt-spec-text-secondary);
}

@media (min-width: 768px) {
  .responsive {
    display: flex;
  }

  /*NAV-BAR*/

  #nav-centro {
    flex: 0 1 732px;
    justify-content: center;
  }

  #nav-centro .botones-circulares{
    background-color: var(--yt-spec-additive-background);
  }

  .botones-circulares-dos {
    display: none;
  }

  .lupa{
    display: flex;
    border: 1px solid hsl(0, 0%, 18.82%);
    background-color: hsla(0, 0%, 100%, .08);
    border-radius: 0 40px 40px 0;
    width: 64px;
  }

  /*Buscador*/

  .barra-buscar {
    flex: 1;
    display: flex;
    position: relative;
    margin-left: 40px;
    padding: 0 4px;
    height: 40px;
  }

  .div-input-buscar{
    position: relative;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 18.82%);
    border-right: 0;
    border-radius: 40px 0 0 40px;
    margin-left: 32px;
    padding: 0 4px 0 16px;
    flex: 1;
    cursor: text; 
  }

  .input-buscar{ 
    padding: 1px 0;
    background: transparent;
    border: none;
    color: var(--yt-spec-text-primary);  
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    line-height: 2.3rem;
  }

  #nav-derecha{
    min-width: 225px;
    align-items: center;
    justify-content: flex-end;
  }
}
